.wrapper {
  padding: 0 15rem;
  height: 100%;
}

.about {
  display: flex;
  width: 100%;
  margin-bottom: 6rem;
}

.section-left {
  width: 50%;
  > h1 {
    font-size: 4rem;
    font-weight: 500;
    color: var(--primary-text);
    margin-bottom: 1rem;

    span {
      display: block;
    }
  }

  > h2 {
    font-size: 2rem;
    font-weight: 300;
    color: var(--primary-text);
    margin-bottom: 2rem;
  }

  > p {
    font-size: 2rem;
    font-weight: 300;
    color: var(--secondary-text);
  }
}

.section-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  img {
    max-width: 100%;
    max-height: 40rem;
  }
}

.skills {
  /*flex*/
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
}

.skills > div {
  display: flex;
  justify-content: space-between;

  h3 {
    margin-right: 4rem;
  }
}

.skills > div:not(:last-child) {
  margin-bottom: 4rem;
}

.contact {
  display: flex;
  padding-top: 5rem;
  width: 100%;
  border-top: 1px solid var(--primary-text);
  i {
    font-size: 2rem;
  }

  h2 {
    font-weight: 300;
    margin-right: 1rem;
  }

  .next-level {
    display: flex;
    width: 67%;
  }

  .email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      cursor: pointer;
    }

    a {
      color: var(--primary-text);
    }
  }
}

@media (max-width: 43rem) {
  .wrapper {
    padding: 0 5rem 0rem 3rem;
  }
  .about {
    flex-direction: column;
  }

  .section-left,
  .section-right {
    width: 100%;
  }

  .section-left {
    > h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    > h2 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    > p {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }

  .section-right {
    /*flex*/
    display: flex;
    justify-content: flex-start;
    img {
      max-width: 100%;
      max-height: 25rem;
    }
  }

  .skills {
    width: 100%;
    flex-direction: row;
    margin-bottom: 0;
  }

  .skills > div {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.1rem;
    margin-right: 3rem;
    h3 {
      margin-right: 0;
      margin-bottom: 0.5rem;
    }

    p {
      span {
        visibility: hidden;
      }
    }
  }

  .contact {
    flex-direction: column;
    h2 {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  }

  .next-level {
    margin-bottom: 2rem;
  }

  .email {
    h2 {
      font-weight: 600;
    }
    a {
      color: var(--secondary-text);
    }
  }
}
