.wrapper {
  padding: 0 15rem;
  height: 100%;
  /*flex*/
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 43rem) {
  .wrapper{
    padding: 0;
  }
}

@media (max-width: 62rem) {
  .wrapper {
    padding: 0 5rem;
  }
}
