<div class="wrapper">
  <section class="about">
    <div class="section-left">
      <h1 class="animate__animated animate__backInLeft animate__fast">
        Hello, I’m <span><strong>Fidel Mangold.</strong></span>
      </h1>
      <div class="arrow animate__animated animate__backInUp animate__fast">
        <i class="uil uil-arrow-down bounce"></i>
      </div>
    </div>
    <div class="section-right">
      <p class="animate__animated animate__backInRight animate__fast">
        A junior web developer. I am a technology and graphic design
        enthusiast.<br /><br />
        From a young age I began to mess with computers and to be self-taught,
        all this has given me the experience to make any project a success. I
        enjoy every part of the process and always work with the utmost detail.
      </p>
    </div>
  </section>
</div>
