.wrapper {
  padding: 0 15rem;
  height: 47.8125rem;
}

.about {
  display: flex;
  width: 100%;
  div {
    width: 50%;
  }
}

.section-left {
  h1 {
    font-size: 4rem;
    font-weight: 500;
    color: var(--primary-text);

    span {
      display: block;
    }
  }
}

.section-right {
  display: flex;
  align-items: center;
  h2 {
    font-size: 1.875rem;
    font-weight: 400;
    color: var(--secondary-text);
  }
}

.arrow {
  width: 50%;
  /*flex*/
  display: flex;
  font-size: 8rem;
  margin-top: 15rem;
  color: var(--icon-color);
}

@media (max-width: 43rem) {
  .wrapper {
    height: 100vh;
    padding: 0 2rem !important;
    width: 100vw;
    display: flex;
  }
  .about {
    flex-direction: column;
    align-items: center;
    div {
      width: 100%;
    }
  }

  .arrow {
    display: none;
  }

  .section-left {
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }

  .section-right {
    h2 {
      font-size: 1.375rem;
    }

    br {
      display: block;
      margin: 2px 0;
    }
  }
}

@media (max-width: 62rem) {
  .wrapper {
    padding: 0 5rem;
  }
  .about {
    flex-direction: column;
    align-items: center;
    div {
      width: 100%;
    }
  }
  .arrow {
    display: none;
  }
}

@media (max-width: 82rem) {
  .arrow {
    margin-top: 4rem;
  }
}
