<footer>
  <div class="copyright">
    Made with ❤️ in Spain<span> © {{ currentYear }} - Fidel Mangold</span>
  </div>
  <div class="socials">
    <ul>
      <li class="social-item">
        <a href="https://github.com/fydiog"
          ><i class="uil uil-github"></i>Github</a
        >
      </li>
      <li class="social-item">
        <a href="https://linkedin.com/in/fidelmangold"
          ><i class="uil uil-linkedin"></i>LinkedIn</a
        >
      </li>
      <li class="social-item">
        <a href="mailto:fydiog@gmail.com?subject=Hi Fidel!"
          ><i class="uil uil-at"></i>E-mail</a
        >
      </li>
    </ul>
  </div>
</footer>
