footer {
  padding: 5rem 15rem;
  /*flex*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  scroll-snap-align: center;
  overflow: hidden;
  font-family: var(--dm-sans);
  color: var(--primary-text);
}

.socials {
  ul {
    /*flex*/
    display: flex;
    justify-content: center;
    list-style: none;
  }

  .social-item a {
    text-decoration: none;

    i {
      margin-right: 0.5rem;
    }
  }

  .social-item:not(:last-child) {
    margin-right: 2.875rem;
  }
}

@media (max-width: 43rem) {
  footer {
    padding: 5rem 3rem;
    flex-direction: column;
    text-align: center;
    // display: none;
  }
  .copyright {
    margin-bottom: 2rem;
    span {
      display: block;
    }
  }
}
