<div class="wrapper">
  <section class="work">
    <div class="project">
      <div class="project-info">
        <h3>01 / PROJECT NAME</h3>
        <p>
          Goblin concept digital sculpture with human-like skin. Learned a lot
          of quick tips and look development.
        </p>
        <p>
          Goblin concept digital sculpture with human-like skin. Learned a lot
          of quick tips and look development.
        </p>
        <a href="">Link</a>
      </div>
      <div class="project-img">
        <img src="../../../assets/img/project-1.png" alt="" />
      </div>
    </div>
    <div class="project">
      <div class="project-info">
        <h3>02 / PROJECT NAME</h3>
        <p>
          Goblin concept digital sculpture with human-like skin. Learned a lot
          of quick tips and look development.
        </p>
        <p>
          Goblin concept digital sculpture with human-like skin. Learned a lot
          of quick tips and look development.
        </p>
        <a href="">Link</a>
      </div>
      <div class="project-img">
        <img src="../../../assets/img/project-1.png" alt="" />
      </div>
    </div>
    <div class="project">
      <div class="project-info">
        <h3>02 / PROJECT NAME</h3>
        <p>
          Goblin concept digital sculpture with human-like skin. Learned a lot
          of quick tips and look development.
        </p>
        <p>
          Goblin concept digital sculpture with human-like skin. Learned a lot
          of quick tips and look development.
        </p>
        <a href="">Link</a>
      </div>
      <div class="project-img">
        <img src="../../../assets/img/project-1.png" alt="" />
      </div>
    </div>
  </section>
</div>
