<div class="wrapper">
  <section class="work" *ngFor="let project of projects; let i = index">
    <div class="project">
      <div class="project-info">
        <div>
          <h3>
            {{ i + 1 }} /
            {{ project.title }}
          </h3>
          <p>
            {{ project.description1 }}<br />
            {{ project.description2 }}
          </p>
        </div>
        <a href="{{ project.link }}"
          >More about this project<i class="uil uil-external-link-alt"></i
        ></a>
      </div>
      <div class="project-img" *ngIf="project.srcType == 'img'">
        <a href="{{ project.link }}"><img src="{{ project.src }}" alt="" /></a>
      </div>
    </div>
  </section>
</div>
