.wrapper {
  padding: 5rem 15rem;
  margin-bottom: 5rem;
  // scroll-snap-align: start;
}

.work {
  width: 100%;
  .project {
    display: flex;

    > div {
      width: 50%;
    }
  }
}

.project {
  /*flex*/
  display: flex;
  height: 29.0625rem;
  border-bottom: solid 1.5px var(--primary-text);
  margin-bottom: 8.75rem;
  scroll-snap-align: center;
  color: var(--primary-text);

  a {
    font-family: var(--inter);
    font-weight: 500;
    font-size: 1.2em;
  }

  a:visited {
    text-decoration: none;
    color: var(--primary-text);
  }

  .project-info {
    div {
      width: 70%;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5rem;
  }

  .project-img {
    position: relative;
    z-index: 0;
    cursor: pointer;
    transition: all 0.5s ease;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    img {
      height: 22.5rem;
      width: 45rem;
    }

    &:hover {
      transform: scale(1.02);
      filter: blur(0px);
      -webkit-filter: blur(0px);
    }
  }
}

@media (max-width: 43rem) {
  .wrapper {
    padding: 0rem 4rem;
    margin-bottom: -10rem;
    // scroll-snap-align: start;
  }

  .work {
    /*flex*/
    display: flex;
    justify-content: center;
  }

  .project {
    justify-content: space-between;
    height: auto;
    width: 100%;
  }

  .project-info {
    width: 60% !important;
    p {
      margin-bottom: 2rem;
    }

    // a {
    //   text-align: center;
    // }
  }

  .project-img {
    width: 40% !important;
    img {
      max-width: 100%;
      height: 22.5rem;
      object-fit: cover;
    }
  }
}
