:root {
  --bg-color: #1d1e19;
  --primary-text: #fdfff1;
  --secondary-text: #919288;
  --input-color: #e1e1e1;
  --icon-color: #fff;
  --logo-color: #fff;
  --theme-switcher: #fdfff1;
  --blue-color: #2429af;
  --red-color: #f97583;
  --yellow-color: #f4ea91;
  --green-color: #aefaa8;
  --purple-color: #a496ec;
}
